openapi: 3.1.0
info:
  title: Weather API
  version: 0.2.0
servers:
  - url: https://api.weather.vespy.eu
paths:
  /health:
    get:
      operationId: health
      responses:
        '200':
          description: Service health
  /client-config:
    get:
      operationId: getClientConfig
      responses:
        '200':
          description: Public runtime configuration for the web client
  /locations:
    get:
      operationId: searchLocations
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
            minLength: 2
        - in: query
          name: language
          schema:
            type: string
            enum: [en-US, pl-PL]
      responses:
        '200':
          description: Matching locations
  /bootstrap-location:
    get:
      operationId: getBootstrapLocation
      responses:
        '200':
          description: Capital location selected from the country code supplied by the trusted reverse proxy
  /reverse-location:
    get:
      operationId: reverseLocation
      parameters:
        - in: query
          name: latitude
          required: true
          schema:
            type: number
            minimum: -90
            maximum: 90
        - in: query
          name: longitude
          required: true
          schema:
            type: number
            minimum: -180
            maximum: 180
        - in: query
          name: timezone
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
            enum: [en-US, pl-PL]
      responses:
        '200':
          description: Nearest named locality for coordinates supplied after browser permission
        '400':
          description: Invalid coordinates
  /promotions:
    get:
      operationId: getPromotions
      parameters:
        - in: query
          name: platform
          schema:
            type: string
            enum: [web, android, ios]
        - in: query
          name: placement
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
        - in: query
          name: theme
          schema:
            type: string
            enum: [dark, light]
      responses:
        '200':
          description: Eligible native card and image banner campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionFeed'
  /weather:
    get:
      operationId: getWeather
      parameters:
        - in: query
          name: latitude
          required: true
          schema:
            type: number
        - in: query
          name: longitude
          required: true
          schema:
            type: number
        - in: query
          name: timezone
          schema:
            type: string
        - in: query
          name: name
          schema:
            type: string
      responses:
        '200':
          description: Normalized current, hourly, and daily forecast
components:
  schemas:
    PromotionFeed:
      type: object
      required: [schemaVersion, platform, placement, rotationSeconds, cacheSeconds, campaigns]
      properties:
        schemaVersion:
          type: integer
        platform:
          type: string
          enum: [web, android, ios]
        placement:
          type: string
        rotationSeconds:
          type: integer
          minimum: 1
        cacheSeconds:
          type: integer
          minimum: 0
        campaigns:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/NativeCardPromotion'
              - $ref: '#/components/schemas/ImageBannerPromotion'
    NativeCardPromotion:
      type: object
      required: [id, type, title, description, actionLabel, logoUrl, targetUrl, priority]
      properties:
        id:
          type: string
        type:
          const: native-card
        eyebrow:
          type: string
        title:
          type: string
        description:
          type: string
        actionLabel:
          type: string
        logoUrl:
          type: string
        targetUrl:
          type: string
          format: uri
        backgroundColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        accentColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        priority:
          type: integer
    ImageBannerPromotion:
      type: object
      required: [id, type, imageUrl, imageAlt, targetUrl, priority]
      properties:
        id:
          type: string
        type:
          const: image-banner
        imageUrl:
          type: string
        imageAlt:
          type: string
        targetUrl:
          type: string
          format: uri
        priority:
          type: integer
